<!-- notifications -->
<div class="notice"> <%= notice %> </div>
<div class="alert"> <%= alert %> </div>
<!-- content wrapper -->
<div class="wrapper">

    <div class="intro-content">
      <div id="intro-left">
        <div id="intro-header">
          <h1> Frederick Bouldering </h1>
          <h2> Watershed, Catoctin<br>&amp; more. </h2>              <br>
          <button> Browse By Area </button>
          <br><br>
          <h3> Recently Added Problems </h3>

          <ul>
            <% @recent_problems.each do |problem| %>
              <% @problem_extended = "#{problem.name} #{problem.grade}" %>
              <li> <%= link_to @problem_extended, bproblem_path(problem) %> </li>
            <% end %>
         </ul>

        </div>
      </div>
      <div id="intro-right">
        <%= image_tag("landing.jpg", class: "landing-img") %>
      </div>
    </div> <!-- introcontent -->
</div> <!--wrapper-->
