<div class="wrapper">

  <table class="main-area">
    <tbody>

      <tr>
        <td class="main-area-left-col-head">
          <h1> Bouldering Areas </h1>
        </td>

        <td class="main-area-right-col-head">
          <h4> Frederick Bouldering </h4>
        </td>

      </tr>

        <tr>
          <!-- left column / list main areas-->
          <td class="main-area-left-col">

            <!-- produce div for each main_area -->
            <% @main_areas.each do |main_area| %>
                <div class="item">
                  <h3> <%= link_to main_area.name, main_area_path(main_area) %> </h3>
                  <div class="main-area-descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in ipsum vitae urna vulputate sollicitudin. Nullam feugiat venenatis neque non egestas. Nunc porttitor in nulla sit amet tristique. Nulla luctus tortor erat, at porta ipsum pellentesque vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies ac eros. In laoreet accumsan consequat..</div>

                  <div class="main-area-descrip-detail-block">
                    Sub-areas: <%= link_to main_area.sub_areas.count, main_area_path(main_area) %> <!-- dynamic -->
                  </div>
                  <div class="main-area-descrip-detail-block">
                    Total Problems: <%= link_to main_area.bproblems.count, main_area_path(main_area) %> <!-- dynamic -->
                  </div>
                  <div class="main-area-descrip-detail-block">
                    Access: <%= link_to main_area.access, main_area_path(main_area) %>
                  </div>
                </div>
            <% end %>

          </td>
          <!-- right column / extra info -->
          <td class="main-area-right-col">
            <div class="col-block">
              <h3> Access </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in ipsum vitae urna vulputate sollicitudin. Nullam feugiat venenatis neque non egestas. Nunc porttitor in nulla sit amet tristique. Nulla luctus tortor erat, at porta ipsum pellentesque vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies ac eros. In laoreet accumsan consequat..</p>
            </div>
            <div class="col-block">
              <h3> Contributing </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in ipsum vitae urna vulputate sollicitudin. Nullam feugiat venenatis neque non egestas. Nunc porttitor in nulla sit amet tristique. Nulla luctus tortor erat, at porta ipsum pellentesque vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies ac eros. In laoreet accumsan consequat..</p>
            </div>
          </td>

        <tr>

      <tr><td></td></tr>
    </tbody>
  </table>
</div>
