<div class="wrapper" id="sub-area-new">

  <table id="bproblem-edit">
    <tbody>w

      <tr>  <!-- header row -->
        <td class="left-col-head" colspan="2">
          <h1> Edit <%= @bproblem.name %> </h1>
        </td>

        <td class="right-col-head">
          <h4> Frederick Bouldering </h4>
        </td>

      </tr> <!-- header row -->

      <tr>  <!-- main content -->
        <td class="left-col" colspan="2">
          <!-- form -->
          <%= render 'form' %>
        </td>

        <td class="right-col">
          <div></div>
        </td>

      </tr> <!-- main content -->

      <tr><td></td></tr>
    </tbody>
  </table>

</div> <!-- wrapper -->
